.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.nav-link {
  margin: 0 10px 0 10px;
}

.userPicture {
  width: 3rem;
  margin: 0 5px 0 0;
}
