<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <div class="container">
    <h1 class="text-center">{{pageTitle}}</h1>
  </div>
  <ng-template [ngIf]="poll">
    <div class="container bg-faded">
      <div class="row">
        <div class="col">
          <div class="input-group" *ngFor="let option of poll.options">
            <button class="btn btn-primary btn-lg btn-block" type="button" (click)="makeVote(option.title)">Vote for {{option.title}}
            </button>
          </div>
          <p>Note: You must be logged in to vote.</p>
        </div>
        <div class="col">
          <div style="display: block">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <button class="btn btn-danger" *ngIf="myPoll" (click)="deletePoll()">Delete Poll</button>
    </div>
  </ng-template>


  <!-- Error loading poll -->
  <div class="container">
    <p *ngIf="error" class="alert alert-danger">
      <strong>Oops!</strong> {{errorMsg}}.
    </p>
  </div>
</ng-template>
